<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="prueba-iron">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/103"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PruebaIron extends Polymer.Element {
      static get is() { return 'prueba-iron'; }
      showData(data) {
          console.log("showData");
          console.log(data);
      }
    }

    window.customElements.define(PruebaIron.is, PruebaIron);
  </script>
</dom-module>
